#container{
	position: relative;
	height:100%;
	width: 100%;
	text-align: center;
	margin:0 auto;
	background-color:white;
	color : black;
}
#box-contactinfo {
	left: 50%;
	top: 50%;
	width: 500px;
	height:50px;
	margin-left: -250px;
	position: relative;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height:23px;
	color:black;
	
}
