html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

#toggle-view {
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -195px;
	height: 300px;
	width: 200px;
	padding: 2px;
	border: 1px solid #999;
	background: #fff;
	opacity: 0.9;	
	overflow: scroll;
}
.storeName {
	font-family:Copperplate;
	margin:0;
	padding: 0;
	font-size:16px;
	border-bottom:1px solid #ccc;
	width: 199px;
	height: 30px;
	line-height:32px;
	position: relative;
}

.storeName:hover{
	color:white;
    transition: background .3s linear;
    background: #32A3D3;
         -o-transition: background .3s linear;
       -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
}

.add {
	margin:5px 0;
	display:none;
}	

#panel {
	font-family:Copperplate;
	margin:0;
	padding: 0;
	font-size:16px;
	border-bottom:1px solid #ccc;
	width: 199px;
	height: 60px;
	line-height:32px;
}

