#top{
	position: relative;
	font-family:Copperplate;
	text-align: center;
	margin-top:50px;
	height: 50px;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size:50px;
    display: block;
	color:white;
	background-color:32A3D3;
}