html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    }
#top{
	position: fixed;
	font-family:Copperplate;
	text-align: left;
	height: 100px;
	width: 100%;
    font-size:50px;
	color:white;
	background-color:#323232;
	border-bottom:thick solid #323232;
	z-index:1;
	
}
#name-logo{
	text-decoration: none; 
	color:white;
	margin-left:120px;
	margin-top:10px;
	position: fixed;
	color:white;
}
#social-icons-container{
	position: fixed;
	margin-left:170px;
	top:55px;
	width:auto;
	height:auto;
}
.social-icon{
	width:32px;
	height:32px;
}
#menuHolder{
	top:40px;
	right: 100px;
	height: 60px;
	width: 600px;
	position: absolute;
	color:white;
}
.menuItem{
	margin-top: 25px;
	height: auto;
	width: auto;
	position: relative;
	color:white;
	font-size:22px;
	float: left;
	margin-right: 30px;
	line-height:20px;
}
.menuItem:hover{
	color:#DC143C;
}
#botline{
	margin-top: 10px;
	height: 3px;
	width: auto;
	background-color:white;
}
#main{
	z-index:0;
	margin-bottom:0px;
	font-family:Copperplate;
	height:100%;
	width: 100%;
	position: absolute;
	color:black;
	font-size:50px;
	background-color:#DC143C;
	text-align: center;
}
#content{
	position: relative;
	top: 200px;
	height:400px;
	width: 1150px;
	font-size:50px;
	text-align: center;
	margin:0 auto;
}

#selfie{
	border-style: solid;
	border-width: 2px;
	border-color:white;
	height:400px;
	width: 300px;
	left:100px;
	position: relative;
	float:left;
}
#text{
	font-family:Candara;
	height:400px;
	width: 600px;
	right:100px;
	top: 75px;
	line-height:25px;
	position: relative;
	float:right;
	font-size:20px;
	color:white;
	word-wrap: break-word;
	text-align: justify;
}
#here{
	text-decoration: underline; 
	color:white;
}
#here:hover{
	color:black;
}







